html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3 {
    text-align: center;
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    form div {
        display: flex;
        flex-direction: column;
    }

    form label {
        font-weight: bold;
    }

    form select, form button {
        padding: 10px;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }

    form button {
        background: #4CAF50;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

        form button:hover {
            background: #45a049;
        }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th, .table td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
    }

    .table th {
        background: #4CAF50;
        color: #fff;
    }

    .table tr:nth-child(even) {
        background: #f2f2f2;
    }

    .table tr:hover {
        background: #ddd;
    }
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #09f; /* Ändrad från left till top för synlighet */
    background: #b8d8f5; /* Lägger till en subtil gradient */
    animation: spin 1s ease infinite, pulse 2s infinite alternate;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.5); /* Lägger till en lysande skugga */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 153, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 20px rgba(0, 153, 255, 1);
    }
}
.cta-button-5 {
    display: inline-block;
    margin: 5px;
    padding: 18px 34px; /* Ökad padding för större knapp */
    background-color: #b8d8f5; /* Subtil blå färg för knapparna */
    color: #2c3e50; /* Mörkblå text för kontrast */
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 18px; /* Större textstorlek */
}