@page "{slug}"
@model DetailsModel
@{
    ViewData["Title"] = Model.BlogPost.Title;
}

<h1>@Model.BlogPost.Title</h1>
<p>@Model.BlogPost.Content</p>
<p>Category: @Model.BlogPost.Category.Name</p>
<p>Published on: @Model.BlogPost.PublishedDate.ToShortDateString()</p>
