@page
@model MasterKinder.Pages.IndexModel
@{
    ViewData["Title"] = "Survey Responses";
}

<div class="container">
    <h2>Förskola statistik</h2>

    <form method="post">
        <div>
            <label for="questionSelect">Select Question:</label>
            <select id="questionSelect" name="SelectedQuestion" asp-for="SelectedQuestion" asp-items="@(new SelectList(Model.Questions))">
            </select>
        </div>
        <div>
            <label for="forskoleverksamhetSelect">Select Förskoleverksamhet:</label>
            <select id="forskoleverksamhetSelect" name="SelectedForskoleverksamhet" asp-for="SelectedForskoleverksamhet" asp-items="@(new SelectList(Model.Forskoleverksamheter))">
            </select>
        </div>
        <button type="submit" asp-page-handler="SelectQuestion"><i class="fas fa-search"></i>Sök</button>
    </form>

   
    @if (Model.ResponsePercentages != null && Model.ResponsePercentages.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Svar</th>
                    <th>Procent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var response in Model.ResponsePercentages)
                {
                    <tr>
                        <td>@response.Key</td>
                        <td>@string.Format("{0:0.00} %", response.Value)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No data available for the selected question and förskoleverksamhet.</p>
    }
</div>

             