@page
@model MasterKinder.Pages.IndexModel
@{
    ViewData["Title"] = "Survey Responses";
}

<h5>Fråga mig om förskola (2023)</h5>
<div class="input-container">
    <input id="address" type="text" class="styled-input" placeholder="Ange din Address" value="Sergels torg 1, 111 57 Stockholm, Sverige">
    <input type="button" class="styled-button" value="Hitta Förskolor" onclick="geocodeAddress(new google.maps.Geocoder(), map)">
</div>


<div class="map-container">
    <div id="map"></div>
    <div id="right-panel"></div>
</div>

<form id="searchForm" method="post">
    <div style="margin-top:20px">
        <label for="questionSelect">Välj Fråga:</label>
        <select id="questionSelect" name="SelectedQuestion" asp-for="SelectedQuestion" asp-items="@(new SelectList(Model.Questions))">
            <option value="">-- Select a question --</option>
        </select>
    </div>
    <div>
        <label for="forskoleverksamhetSelect">Välj Förskoleverksamhet:</label>
        <select id="forskoleverksamhetSelect" name="SelectedForskoleverksamhet" asp-for="SelectedForskoleverksamhet" asp-items="@(new SelectList(Model.Forskoleverksamheter))">
            <option value="">-- Select Förskoleverksamhet --</option>
        </select>
    </div>
    <div class="sleep">
        <div id="loadingSpinner" style="display: none;">
            <div class="spinner"></div>
        </div>

        <button id="loginButton" type="submit">Sök</button>
    </div>
</form>

<div id="results">
    @await Html.PartialAsync("Shared/ResultPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchForm').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Page("/Index", "SelectQuestion")',
                data: $(this).serialize(),
                success: function (result) {
                    $('#results').html(result);
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        });
    });

    var map;
    var service;
    var infowindow;
    var directionsService;
    var directionsRenderer;

    function initMap() {
        var stockholm = new google.maps.LatLng(59.3293, 18.0686);

        map = new google.maps.Map(document.getElementById('map'), {
            center: stockholm,
            zoom: 12
        });

        infowindow = new google.maps.InfoWindow();
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer({
            draggable: true,
            map: map,
            panel: document.getElementById('right-panel')
        });
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
                findNearbyPreschools(results[0].geometry.location, results[0].geometry.location);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
                console.error('Geocode error: ', status);
            }
        });
    }

    function findNearbyPreschools(location, origin) {
        var request = {
            location: location,
            radius: '2000', // 2 kilometers
            keyword: 'förskola' // Swedish word for preschool
        };

        service = new google.maps.places.PlacesService(map);
        if (service) {
            service.nearbySearch(request, function (results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    console.log('Nearby search results: ', results); // Log results for debugging
                    for (var i = 0; i < results.length; i++) {
                        createMarker(results[i], origin);
                    }
                } else {
                    alert('Places API was not successful for the following reason: ' + status);
                    console.error('Places API error: ', status);
                }
            });
        } else {
            alert('PlacesService is not available');
            console.error('PlacesService is undefined');
        }
    }

    function createMarker(place, origin) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: placeLoc
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
            calculateAndDisplayRoute(origin, placeLoc);
        });
    }

    function calculateAndDisplayRoute(origin, destination) {
        var request = {
            origin: origin,
            destination: destination,
            travelMode: 'DRIVING'
        };
        directionsService.route(request, function (result, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(result);
            } else {
                alert('Directions request failed due to ' + status);
                console.error('Directions request error: ', status);
            }
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbJmqNnZHTZ99pPQ2uHfkDXwpMxOpfYLw&libraries=places,directions&callback=initMap"></script>
