@page
@model MasterKinder.Pages.ReportModel
@{
}
<h2>Power BI Report</h2>

<div id="reportContainer" style="height:800px;"></div>

 
    <script src="https://aka.ms/powerbi-client-js"></script>
    <script>
        (function () {
            var embedConfig = {
                type: 'report',
                tokenType: powerbi.models.TokenType.Embed,
                accessToken: '@Model.EmbedConfig.AccessToken',
                embedUrl: '@Model.EmbedConfig.EmbedUrl',
                settings: {
                    filterPaneEnabled: false,
                    navContentPaneEnabled: false
                }
            };

            var reportContainer = document.getElementById('reportContainer');
            powerbi.embed(reportContainer, embedConfig);
        })();

</script>